:root {
    /* colors */
    --dark-blue: #090911;
    --gray: #c4c4c456;
    --white: #FFFFFF;
    --black: #000000;
    --mustard: #F7B024;
    --red: #EF2A47;
    --light-blue: #4297BC;
    /* font family */
    --nunito-sans: 'Nunito Sans', sans-serif;
}

body {
    background-color: var(--dark-blue);
    font-family: var(--nunito-sans);
}

.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 70px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    background-color: var(--dark-blue);
    border-bottom: 1px solid var(--gray);
}

.navbar a {
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
}

.navbar .fa-fire {
    color: var(--mustard);
}

.logo-blaze {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    padding: 8px;
    /* margin: 32px; testando com tanho maior */
    margin: 16px;
}

.navbar-right a:hover {
    color: var(--light-blue);
}

.navbar-right .explore-btn {
    background-color: var(--white);
    color: var(--black);
    padding-top: 20px;
    padding-right: 45px;
    padding-bottom: 20px;
    padding-left: 45px;
    border-radius: 45px;
    margin: 16px;
}

.navbar-right .explore-btn:hover {
    background-color: var(--light-blue);
    color: var(--white);
}

.hamburger-btn {
    background-color: var(--dark-blue);
    color: var(--white);
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 16px;
}

.hamburger-btn:hover {
    cursor: pointer;
}

.main-container {
    position: relative;
    /* top: 100px; */
    height: 100vh;
    box-sizing: border-box;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 150px;
    /* padding-top: 50px; testing this size */
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    color: var(--white);
}

.main-container h1 {
    font-size: 48px;
    font-weight: bold;
}

.main-container h1 span {
    display: block;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.content-description {
    width: 50%;
}

.main-container p {
    width: 250px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.2;
}

.canva-illustration {
    display: flex;
    justify-content: center;
    width: 50%;
}

.main-container .canva-illustration img {
    width: 300px;
}

.services {
    height: 100vh;
    background-color: var(--mustard);
}

.projects {
    height: 100vh;
    background-color: var(--red);
}

.about {
    height: 100vh;
    background-color: var(--light-blue);
}

.social-media {
    position: fixed;
    bottom: 32px;
    left: 32px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* height: 100%; */
    /* width: 70px; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
    /* padding: 18px; */
    /* background-color: var(--dark-blue); */
    /* border-right: 1px solid var(--gray); */
}

.links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links a {
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    box-shadow: 5px 5px 18px var(--black);
    border-radius: 50%;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}

.links a:hover {
    background-color: var(--light-blue);
    color: var(--white);
}

.newsletter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    height: 100vh;
    background-color: var(--white);
    padding: 50px 150px 25px 150px;
}

.newsletter-description {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.newsletter-description h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    padding: 0 50px;
    margin: 16px 0 32px 0;
}

.newsletter-description p {
    font-size: 18px;
    color: var(--black);
    padding: 0 50px;
    margin-bottom: 50px;
}

.form-newsletter {
    display: flex;
    justify-content: space-between;
    font-family: var(--nunito-sans);
    padding: 50px 0 10px 0;
    border-bottom: 2px solid var(--black);
}

.form-newsletter input[type=email] {
    width: 100%;
    font-size: 18px;
    color: var(--black);
    padding-right: 5px;
    border: none;
    outline: none;
}

.form-newsletter input[type=email]::placeholder {
    opacity: 0.6;
}

.form-newsletter input[type=submit] {
    font-size: 18px;
    color: var(--black);
    background-color: var(--white);
    padding: 5px 10px;
    border: none;
    outline: none;
}

.footer-copy {
    height: 50vh;
    background-color: var(--dark-blue);
    color: var(--white);
}